<header>
  <a href="/#/trangchu">
    <img class="logo" src="assets/anhlogo.png" alt="logo">
  </a>
  <!--<h2 class="logo">Logo</h2>-->
  <nav class="navigation">
    <a href="/#/trangchu/">Trang Chủ</a>
    <li class="dangky">
      <a href="javascript:void(0)" class="DangKy">Đăng Ký</a>
      <div class="dangky-content">
        <a href="/#/DangKy/Dangky-ttcn">Đăng ký TTCN </a>
        <a href="/#/DangKy/Dangky-kltn">Đăng ký KLTN </a>
      </div>
    </li>
    <li class="qldangky">
      <a href="javascript:void(0)" class="QLDangKy">Quản Lý Đăng Ký</a>
      <div class="qldangky-content">
        <a href="/#/QLDangKy/Dangky-ttcn">QLĐăng ký TTCN </a>
        <a href="/#/QLDangKy/Dangky-kltn">QLĐăng ký KLTN </a>
      </div>
    </li>
    <a href="/#/taikhoan/">Tài Khoản</a>
    <button class="btnLogin-popup">Login</button>
  </nav>
</header>
<select>

</select>
<footer class="footer">
  <div class="container">
    <div class="contact-info">
      <h2>KHOA CÔNG NGHỆ THÔNG TIN - TRƯỜNG ĐẠI HỌC NÔNG NGHIỆP QUỐC GIA VIỆT NAM</h2>
      <p>Địa chỉ Văn phòng: Phòng 316, Tầng 3, Tòa nhà Hành chính, Trường Đại học Nông nghiệp Hà Nội</p>
      <p>Điện thoại: (024) 62617701 – Fax: (024) 38276554</p>
      <p>Email: <input type="text" class="email" value="cntt@vnua.edu.vn" readonly> - Website: <a href="https://fita.vnua.edu.vn">https://fita.vnua.edu.vn</a></p>
    </div>
  </div>
</footer>
