<div>
<h2>Đăng ký Thực Tập Chuyên Ngành</h2>
<form action="#">
  <div class="input-box1">
    <input type="text" required>
    <label> Họ Tên:</label>
  </div>

  <div class="input-box1">
    <input type="date" required>
    <label> Ngày Sinh:</label>
  </div>

  <div class="input-box1">
    <input type="text" required>
    <label> MSV:</label>
  </div>

  <div class="input-box1">
    <input type="text" required>
    <label> Lớp:</label>
  </div>

  <div class="input-box1">
    <input type="text" required>
    <label> chuyên ngành:</label>
  </div>
  <div class="input-box1">
    <input type="text" required>
    <label> SDT:</label>
  </div>

  <div class="input-box1">
    <input type="email" required>
    <label> Email:</label>
  </div>


  <input class="btn1" type="button" onclick="alert('Đã lưu đăng ký')" value="Lưu Đăng Ký">
</form>
</div>
