<div class="wrapper">
    <span class="icon-close">
      <i class='bx bx-x'></i>
    </span>
    <div class="form-box login">
      <h2>ĐĂNG NHẬP</h2>
        <form action="#">
          <div class="input-box">
          <span class="icon">
              <i class='bx bxs-user-circle'></i>
            </span>
            <input type="text" required>
            <label> Tên Tài Khoản</label>
          </div>
          <div class="input-box">
            <span class="icon">
              <i class='bx bxs-lock-alt' ></i>
            </span>
            <input type="password" required>
            <label> Mật Khẩu</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">
            Nhớ Mật Khẩu</label>

          </div>
          <button type="submit" class="btn">Đăng Nhâp</button>
          <div class="login-register">
            <p> Chưa có tài khoản<a href="#" class="register-link">Đăng ký</a></p>
          </div>
        </form>
     </div>

    <div class="form-box register">
      <h2>DĂNG KÝ</h2>
      <form action="#">
        <div class="input-box">
          <span class="icon">
              <i class='bx bxs-user-circle'></i>
            </span>
          <input type="text" required>
          <label> Tên Tài Khoản</label>
        </div>
        <div class="input-box">
            <span class="icon">
              <i class='bx bxs-envelope'></i>
            </span>
          <input type="email" required>
          <label> Email</label>
        </div>
        <div class="input-box">
            <span class="icon">
              <i class='bx bxs-lock-alt' ></i>
            </span>
          <input type="password" required>
          <label> Mật Khẩu</label>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox">
          Tôi đồng ý với các điều khoản và điều kiện</label>
        </div>
        <button type="submit" class="btn">Đăng Ký</button>
        <div class="login-register">
          <p> bạn đã có tài khoản<a href="#" class="login-link">Đăng nhập</a></p>
        </div>
      </form>
    </div>
  </div>
