<router-outlet></router-outlet>

<header>
  <a href="TrangChu">
    <img class="logo" src="assets/anhlogo.png" alt="logo">

  </a>
      <nav class="navigation">
           <a routerLink="TrangChu">Trang Chủ</a>
        <li class="dangky">
          <a routerLink="javascript:void(0)" class="DangKy">Đăng Ký</a>
          <div class="dangky-content">
            <a routerLink="DangKy/dangky-ttcn">Đăng ký TTCN </a>
            <a routerLink="DangKy/DangKy-kltn">Đăng ký KLTN </a>
          </div>
        </li>
        <li class="qldangky">
          <a routerLink="javascript:void(0)" class="QLDangKy">Quản Lý Đăng Ký</a>
          <div class="qldangky-content">
            <a routerLink="QLDangKy/Dangky-ttcn">QLĐăng ký TTCN </a>
            <a routerLink="QLDangKy/Dangky-kltn">QLĐăng ký KLTN </a>
          </div>
        </li>
           <a routerLink="taikhoan">Tài Khoản</a>
           <button class="btnLogin-popup">Login</button>
      </nav>
</header>
   <div class="wrapper">
     <span class="icon-close">
       <i class='bx bx-x'></i>
     </span>
     <div class="form-box login">
       <h2>ĐĂNG NHẬP</h2>
         <form action="#">
           <div class="input-box">
           <span class="icon">
               <i class='bx bxs-user-circle'></i>
             </span>
             <input type="text" required>
             <label> Tên Tài Khoản</label>
           </div>
           <div class="input-box">
             <span class="icon">
               <i class='bx bxs-lock-alt' ></i>
             </span>
             <input type="password" required>
             <label> Mật Khẩu</label>
           </div>
           <div class="remember-forgot">
             <label><input type="checkbox">
             Nhớ Mật Khẩu</label>
             <a href="#">Quên Mật Khẩu</a>
           </div>
           <button type="submit" class="btn">Đăng Nhâp</button>
           <div class="login-register">
             <p> Chưa có tài khoản<a href="#" class="register-link">Đăng ký</a></p>
           </div>
         </form>
      </div>

     <div class="form-box register">
       <h2>DĂNG KÝ</h2>
       <form action="#">
         <div class="input-box">
           <span class="icon">
               <i class='bx bxs-user-circle'></i>
             </span>
           <input type="text" required>
           <label> Tên Tài Khoản</label>
         </div>
         <div class="input-box">
             <span class="icon">
               <i class='bx bxs-envelope'></i>
             </span>
           <input type="email" required>
           <label> Email</label>
         </div>
         <div class="input-box">
             <span class="icon">
               <i class='bx bxs-lock-alt' ></i>
             </span>
           <input type="password" required>
           <label> Mật Khẩu</label>
         </div>
         <div class="remember-forgot">
           <label><input type="checkbox">
           Tôi đồng ý với các điều khoản và điều kiện</label>
         </div>
         <button type="submit" class="btn">Đăng Ký</button>
         <div class="login-register">
           <p> already have an accout?<a href="#" class="login-link">Đăng nhập</a></p>
         </div>
       </form>
     </div>
   </div>
<main class="main">

</main>
<footer class="footer">
  <div class="container">
    <div class="contact-info">
      <h2>KHOA CÔNG NGHỆ THÔNG TIN - TRƯỜNG HỌC VIỆN NÔNG NGHIỆP VIỆT NAM</h2>
      <p>Địa chỉ Văn phòng: Phòng 316, Tầng 3, Tòa nhà Hành chính, Trường Học Viện Nông nghiệp Việt Nam</p>
      <p>Điện thoại: (024) 62617701 – Fax: (024) 38276554</p>
      <p>Email: <input type="text" class="email" value="cntt@vnua.edu.vn" readonly> - Website: <a href="https://fita.vnua.edu.vn">https://fita.vnua.edu.vn</a></p>
    </div>
  </div>
</footer>
